<div class="row">
  <div class="main-content wider">
    
    <div class="hgroup">
      <h2>
          <%= full_name %>
        <small>Course details</small>
      </h2>

    </div><!-- .hgroup -->

    <table class="table table-hover">
      <thead>
        <th></th>
        <th>Term</th>
        <th>PeopleSoft #</th>
        <th>Student ID</th>
        <th>Grade</th>
        <th></th>
      </thead>
      <% for ( var i = 0; i < user_courses.length; i++ ) { %>
      <tr>
        <td class="muted"><%= i %></td>
        <td><%= user_courses[i].term %></td>
        <td><%= user_courses[i].psid %></td>
        <td><%= user_courses[i].user_id %></td>
        <td><%= user_courses[i].grade %></td>
        <td class="text-right"><a href="routes.php?user_id=<%= user_courses[i].user_id %>">View student</a>
        </td>
      </tr>
      <% } %>
    </table>

  </div><!-- .main-content-->


  <!--


  sidebar content


  -->


  <div class="side-content smaller">
    <aside>
      <h3 class="title">Current Report</h3>
        <br>

        <strong>Title:</strong>
        <%= full_name %>
        <br>
        <strong>Average GPA:</strong>
        <%= average_gpa %>
        <br>
        <strong>Total Students:</strong>
        <%= total_students %>
        <br>
        <br>

      <a href="advisor_dashboard.php" class="normal-link btn btn-block btn-primary">Back to search</a>
    </aside>
  </div><!-- .side-content -->

</div><!-- .row -->