<header>
  <div class="container nav-container">
    <ul class="nav nav-pills pull-right">
      <li class="">
        <a href="#">
          Welcome, <%= full_name %>
        </a>
      </li>
      
      <li class="<%= ( is_admin ? "" : "hidden" ) %>">
        <a href="admin.php">Admin</a>
      </li>  
      
      <li class="">
        <a href="settings.php">Settings</a>
      </li>

      <li>
        <a href="routes.php?action=logout">Logout</a>
      </li>

    </ul>
    <h3 class="title muted">
      <a href="#">
      Advisor Cloud 3.0
      </a>
    </h3>
  </div><!-- .container -->
</header>