
<div class="hgroup">
  <h2>Settings</h2>
</div><!-- .hgroup -->


<div class="row" id="row-settings">
  <div class="half-column well">
    <form action="routes.php" method="post" name="change_password_form">
      <h3>Change Password</h3>

      <fieldset>
        <label>Current password</label>
        <input class="input-block-level" type="password" placeholder="Old password" name="old_password">

        <label>New password</label>
        <input class="input-block-level" type="password" placeholder="New password" name="new_password">

        <label>Confirm new password</label>
        <input class="input-block-level" type="password" placeholder="New password again" name="new_password_confirm">
        
        <br>
        <br>

        <button name="change_password_form_submit" type="submit" class="btn btn-block btn-primary">Change password</button>
      </fieldset>
    </form>
  </div>

  <div class="half-column well">
    <form action="routes.php" method="post" name="secret_question_form">
      <h3>Secret Question</h3>

      <fieldset>
        <label>Secret question</label>
        <input class="input-block-level" type="text" placeholder="Mother's maiden name..." name="secret_question" value="">

        <label>Secret answer</label>
        <input class="input-block-level" type="text" placeholder="Secret answer here" name="secret_answer">

        <label>Confirm secret answer</label>
        <input class="input-block-level" type="text" placeholder="Secret answer again" name="secret_answer_confirm">
        
        <br>
        <br>

        <button name="secret_question_form_submit" type="submit" class="btn btn-block btn-primary">Save secret question</button>
      </fieldset>
    </form>
  </div>
</div>