<div class="row">
  <div class="main-content">
    
    <div class="hgroup">
      <h2>
        <span class="icon-stack">
          <i class="icon-circle icon-stack-base"></i>
          <i class="icon-user icon-light"></i>
        </span>
        <%= full_name %>
        <small>Student details</small>
      </h2>
    </div><!-- .hgroup -->

    TODO: displays for courses.php, sessions.php, notes.php

    <ul class="nav nav-tabs">
      <li class='active'><a href="#courses_by_term" data-toggle="tab">Courses by term</a></li>
      <li><a href="#courses_by_department" data-toggle="tab">Courses by department</a></li>
      <li><a href="#grad_requirements" data-toggle="tab">Graduation requirements</a></li>
      <li><a href="#advising_sessions" data-toggle="tab">Advising sessions</a></li>
      <li><a href="#advising_notes" data-toggle="tab">Advising notes</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="courses_by_term">
        <h3>Courses taken by term</h3>
      </div><!-- #courses_by_term -->

      <div class="tab-pane" id="courses_by_department">
        <h3>Courses taken by department</h3>
      </div><!-- #courses_by_department -->

      <div class="tab-pane" id="grad_requirements">
        <h3>Graduation requirements</h3>
      </div><!-- #grad_requirements -->

      <div class="tab-pane" id="advising_sessions">
        <h3>Advising Sessions</h3>
      </div><!-- #advising_sessions -->

      <div class="tab-pane" id="advising_notes">
        <h3>Advising Notes</h3>
      </div><!-- #advising_notes -->
    </div><!-- .tab-content -->
  </div><!-- .main-content-->

  <div class="side-content">
    <code>include('templates/student_sidebar.php')</code>
  </div><!-- .side-content -->

</div><!-- .row -->

