<div class="row">
  <div class="main-content">
    
    <div class="hgroup">
      <h2>
        <span class="icon-stack">
          <i class="icon-circle icon-stack-base"></i>
          <i class="icon-user icon-light"></i>
        </span>
        <%= full_name %>
        <small>Student details</small>
      </h2>
    </div><!-- .hgroup -->

    TODO: displays for courses.php, sessions.php, notes.php

  </div><!-- .main-content-->

  <div class="side-content">
    <code>include('templates/student_sidebar.php')</code>
  </div><!-- .side-content -->

</div><!-- .row -->

