<div class="hgroup">
  <h2>
    <%= first_name %>'s
    <span class="light">Student Dashboard</span>
  </h2>

  <p>
    Welcome to your student dashboard. Here you'll find records of courses you've taken.
  </p>
</div><!-- .hgroup -->

<ul class="nav nav-tabs">
  <li class='active'><a href="#courses_by_term" data-toggle="tab">Courses by term</a></li>
  <li><a href="#courses_by_department" data-toggle="tab">Courses by department</a></li>
  <li><a href="#grad_requirements" data-toggle="tab">Graduation requirements</a></li>
  <li><a href="#advising_sessions" data-toggle="tab">Advising sessions</a></li>
  <li><a href="#advising_notes" data-toggle="tab">Advising notes</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="courses_by_term">
   <% if ( courses_by_term != null ) { %>
    <table class="table table-hover">
    <% for ( var term in courses_by_term ) { %>
      <tr>
        <td><%= term %></td>  
        <td>
        <% for ( var i =  0; i < courses_by_term[term].length; i++ ) { 
          var course = courses_by_term[term][i];
        %>
          <%= course.department %>&nbsp;<%= course.course_number %>&nbsp;<%= course.grade %><br>
        <% } %>
        </td>
      </tr>
      <% } %>
    </table>
   <% } else { %>
    <p>No courses taken.</p>
   <% } %>
  </div><!-- #courses_by_term -->

  <div class="tab-pane" id="courses_by_department">
    <% if ( courses_by_department != null ) { %>
    <table class="table table-hover">
    <% for ( var department in courses_by_department ) { %>
      <tr>
        <td><%= department %></td>  
        <td>
        <% for ( var i = 0; i < courses_by_department[department].length; i++ ) { 
          var course = courses_by_department[department][i];
        %>
          <%= course.department %>&nbsp;<%= course.course_number %>&nbsp;<%= course.grade %><br>
        <% } %>
        </td>
      </tr>
      <% } %>
    </table>
   <% } else { %>
    <p>No courses taken.</p>
   <% } %>
  </div><!-- #courses_by_department -->

  <div class="tab-pane" id="grad_requirements">
    <% if ( requirements != null ) { %>
    <table class="table table-hover">
      <% for ( var requirement in requirements ) { %>
      <tr>
        <td><%= requirement %></td>  
        <td><%= requirements[requirement] %></td>
      </tr>
      <% } %>
    </table>
    <% } else { %>
      <p>Graduation requirements not found.</p>
    <% } %>
  </div><!-- #grad_requirements -->

  <div class="tab-pane" id="advising_sessions">
    <% if ( sessions != null ) { %>
     <table class="table table-hover">
      <thead>
        <th></th>
        <th>Date</th>
        <th>Advisor</th>
        <th># Notes</th>
      </thead>
     <% for ( var i = 0; i < sessions.length; i++ ) { %>
      <tr>
        <td class="muted"><%= i %></td>  
        <td><%= sessions[i].date %></td>
        <td><%= sessions[i].advisor_full_name %></td>  
        <td><%= sessions[i].notes_count%></td>
      </tr>
      <% } %>
    </table>
    <% } else { %>
      <p>None found.</p>
    <% } %>
  </div><!-- #advising_sessions -->

  <div class="tab-pane" id="advising_notes">
    <% if ( notes != null ) { %>
    <table class="table table-hover">
      <thead>
        <th></th>
        <th>Date</th>
        <th>Advisor</th>
        <th>Contents</th>
      </thead>
     <% for ( var i = 0; i < notes.length; i++ ) { %>
      <tr>
        <td class="muted"><%= i %></td>  
        <td><%= notes[i].date %></td>
        <td><%= notes[i].advisor_full_name %></td>  
        <td><%= notes[i].contents %></td>
      </tr>
      <% } %>
    </table>
   <% } else { %>
    <p>None found.</p>
   <% } %>
  </div><!-- #advising_notes -->
</div><!-- .tab-content -->