.font {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent {
  display: table;
}

.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}
