/* line 9, ../scss/_base.scss */
.font, body {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 3, ../scss/_structure.scss */
html, body {
  height: 100%;
}

/* line 7, ../scss/_structure.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

/* line 15, ../scss/_structure.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 19, ../scss/_structure.scss */
#main {
  height: 100%;
}

/* line 23, ../scss/_structure.scss */
.container {
  width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  margin: 0 auto -4em;
  line-height: 1.8em;
}

/* line 34, ../scss/_structure.scss */
article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* line 40, ../scss/_structure.scss */
footer, .push {
  clear: both;
  height: 4em;
}
