.font {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent {
  display: table;
}

.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #007d9a;
  letter-spacing: -1px;
}
h1 small, h2 small, h3 small, h4 small {
  color: #dddddd;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
  letter-spacing: 0;
  font-weight: bold;
}

p {
  margin: 1em 0;
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-success {
  color: #468847;
}

.text-error {
  color: #b94a48;
}

strong {
  margin-right: 0.2em;
}

.muted {
  color: #dddddd;
}
