/* line 21, ../scss/_base.scss */
.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 27, ../scss/_base.scss */
.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

/* line 33, ../scss/_base.scss */
.vertical-align-parent, .media {
  display: table;
}

/* line 37, ../scss/_base.scss */
.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 3, ../scss/_structure.scss */
html, body {
  height: 100%;
}

/* line 7, ../scss/_structure.scss */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

/* line 15, ../scss/_structure.scss */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 19, ../scss/_structure.scss */
.pull-right {
  float: right;
}

/* line 23, ../scss/_structure.scss */
.pull-left {
  float: left;
}

/* line 27, ../scss/_structure.scss */
.muted {
  color: #333333;
}

/* line 31, ../scss/_structure.scss */
ol, ul {
  padding-left: 0;
  margin: 0;
}

/* line 36, ../scss/_structure.scss */
#main {
  height: 100%;
}

/* line 40, ../scss/_structure.scss */
.container {
  width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
/* line 47, ../scss/_structure.scss */
.container.main {
  margin: 0 auto -4em;
  line-height: 1.8em;
}

/* line 53, ../scss/_structure.scss */
article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* line 57, ../scss/_structure.scss */
footer, .push {
  clear: both;
  height: 4em;
}

/* line 62, ../scss/_structure.scss */
.main-content {
  width: 700px;
  float: left;
}

/* line 67, ../scss/_structure.scss */
.side-content {
  width: 240px;
  margin-left: 30px;
  float: left;
}

/* line 79, ../scss/_structure.scss */
.media {
  overflow: hidden;
}
/* line 84, ../scss/_structure.scss */
.media .media-body {
  margin-left: 5px;
  float: left;
}
/* line 88, ../scss/_structure.scss */
.media .media-body .media-heading {
  font-weight: bold;
}

/* line 21, ../scss/_base.scss */
.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 27, ../scss/_base.scss */
.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

/* line 33, ../scss/_base.scss */
.vertical-align-parent, .media {
  display: table;
}

/* line 37, ../scss/_base.scss */
.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 3, ../scss/_typography.scss */
h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
  font-weight: normal;
}

/* line 9, ../scss/_typography.scss */
h1 {
  font-size: 2em;
}

/* line 13, ../scss/_typography.scss */
h2 {
  font-size: 1.5em;
}

/* line 17, ../scss/_typography.scss */
h3 {
  font-size: 1.2em;
}

/* line 21, ../scss/_typography.scss */
h4 {
  font-size: 1em;
}

/* line 24, ../scss/_typography.scss */
p {
  margin: 1em 0;
  word-wrap: break-word;
}

/* line 29, ../scss/_typography.scss */
.text-center {
  text-align: center;
}

/* line 33, ../scss/_typography.scss */
.text-left {
  text-align: left;
}

/* line 37, ../scss/_typography.scss */
.text-right {
  text-align: right;
}

/* line 41, ../scss/_typography.scss */
strong {
  margin-right: 0.2em;
}

/* line 21, ../scss/_base.scss */
.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 27, ../scss/_base.scss */
.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

/* line 33, ../scss/_base.scss */
.vertical-align-parent, .media {
  display: table;
}

/* line 37, ../scss/_base.scss */
.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 3, ../scss/_links.scss */
a {
  text-decoration: none;
  font-weight: bold;
}
/* line 6, ../scss/_links.scss */
a:link {
  color: #42b8dd;
}
/* line 9, ../scss/_links.scss */
a:visited {
  color: #208fb2;
}
/* line 12, ../scss/_links.scss */
a:active {
  color: #208fb2;
}
/* line 15, ../scss/_links.scss */
a:hover, a:focus {
  color: #208fb2;
  text-decoration: underline;
}
/* line 19, ../scss/_links.scss */
a:active, a:hover {
  outline: none;
}
/* line 22, ../scss/_links.scss */
a img {
  border: none;
}

/* line 21, ../scss/_base.scss */
.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 27, ../scss/_base.scss */
.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

/* line 33, ../scss/_base.scss */
.vertical-align-parent, .media {
  display: table;
}

/* line 37, ../scss/_base.scss */
.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 3, ../scss/_forms.scss */
input, button, .btn, select, textarea {
  margin-top: 2px;
  vertical-align: middle;
}
/* line 6, ../scss/_forms.scss */
input textarea, button textarea, .btn textarea, select textarea, textarea textarea {
  vertical-align: baseline;
}
/* line 9, ../scss/_forms.scss */
input.input-block-level, button.input-block-level, .btn.input-block-level, select.input-block-level, textarea.input-block-level {
  width: 100%;
}
/* line 12, ../scss/_forms.scss */
input.input-small, button.input-small, .btn.input-small, select.input-small, textarea.input-small {
  width: 90px;
}
/* line 15, ../scss/_forms.scss */
input.input-large, button.input-large, .btn.input-large, select.input-large, textarea.input-large {
  width: 300px;
}
/* line 18, ../scss/_forms.scss */
input.btn-block, button.btn-block, .btn.btn-block, select.btn-block, textarea.btn-block {
  width: 100%;
  display: block;
}

/* line 24, ../scss/_forms.scss */
input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8em;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}
/* line 34, ../scss/_forms.scss */
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=week]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus, select:focus, textarea:focus {
  outline: 0;
  border-color: #129fea;
}

/* line 40, ../scss/_forms.scss */
button, .btn {
  -webkit-transition: 0.1s linear -webkit-box-shadow;
  -moz-transition: 0.1s linear -webkit-box-shadow;
  -o-transition: 0.1s linear -webkit-box-shadow;
  transition: 0.1s linear -webkit-box-shadow;
  line-height: 28px;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  height: 28px;
  padding: 0 1.5em;
  color: #fff !important;
  border: 1px solid #999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  background: #42b8dd;
}
/* line 58, ../scss/_forms.scss */
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
/* line 68, ../scss/_forms.scss */
button.btn-large, .btn.btn-large {
  height: 38px;
  padding: 0 2.0em;
}

/* line 74, ../scss/_forms.scss */
.form-signin, .form-small {
  width: 300px;
  margin: 0 auto;
}

/* line 21, ../scss/_base.scss */
.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 27, ../scss/_base.scss */
.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

/* line 33, ../scss/_base.scss */
.vertical-align-parent, .media {
  display: table;
}

/* line 37, ../scss/_base.scss */
.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 3, ../scss/_tables.scss */
table {
  border-collapse: collapse;
  width: 100%;
}
/* line 7, ../scss/_tables.scss */
table tr td, table tr th {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  background: #fff;
  padding: 0.8em 1em;
  text-align: left;
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb;
}
/* line 19, ../scss/_tables.scss */
table.table-hover tr:hover td {
  background: #efefef;
}

/* line 21, ../scss/_base.scss */
.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: arial;
  font-size: 12px;
  color: #555555;
}

/* line 27, ../scss/_base.scss */
.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

/* line 33, ../scss/_base.scss */
.vertical-align-parent, .media {
  display: table;
}

/* line 37, ../scss/_base.scss */
.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

/* line 3, ../scss/_nav.scss */
.nav-pills {
  list-style: none;
}
/* line 5, ../scss/_nav.scss */
.nav-pills li {
  display: inline-block;
  margin: 0 2px;
}
/* line 8, ../scss/_nav.scss */
.nav-pills li a {
  padding: 0 1em;
}

/* line 15, ../scss/_nav.scss */
.nav-tabs li {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
  display: inline-block;
  cursor: pointer;
}
/* line 19, ../scss/_nav.scss */
.nav-tabs li a {
  padding: 1em;
  max-width: 2em;
  word-wrap: break-word;
  margin: 0 2px;
}
/* line 24, ../scss/_nav.scss */
.nav-tabs li a:hover {
  text-decoration: none;
}
/* line 26, ../scss/_nav.scss */
.nav-tabs li:hover {
  background: #efefef;
}
/* line 28, ../scss/_nav.scss */
.nav-tabs li:hover a {
  color: #129fea;
}
/* line 33, ../scss/_nav.scss */
.nav-tabs li.active a {
  color: #129fea;
}

/* line 41, ../scss/_nav.scss */
.tab-content .tab-pane {
  display: none;
  padding: 0;
}
/* line 44, ../scss/_nav.scss */
.tab-content .tab-pane.active {
  display: block;
}
