.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent, .media {
  display: table;
}

.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

ol, ul {
  padding-left: 0;
  margin: 0;
}

#main {
  height: 100%;
}

.container {
  width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
}
.container.main {
  margin: 0 auto -4em;
  line-height: 1.8em;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

fieldset {
  border: none;
  padding: 0;
}

footer, .push {
  clear: both;
  height: 4em;
}

.main-content {
  width: 700px;
  float: left;
  padding-right: 30px;
}

.side-content {
  width: 240px;
  margin-left: 30px;
  float: left;
}

.media {
  overflow: hidden;
}
.media .media-body {
  margin-left: 5px;
  float: left;
}
.media .media-body .media-heading {
  font-weight: bold;
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 20px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}
.close:hover, .close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.alert {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.8em 2em 0.8em 0.8em;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  position: relative;
}
.alert .close {
  text-shadow: 0 1px 0 #efefef;
  position: absolute;
  top: 2px;
  right: 0.4em;
  color: #000 !important;
}
.alert.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.hidden {
  display: none;
}

aside {
  margin-top: 15px;
}
aside strong {
  margin-right: 0.2em;
}

.img-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.half-column {
  width: 45%;
  margin-left: 30px;
}

.well {
  float: left;
  margin-left: 30px;
}

#row-settings {
  margin-left: -30px;
}

.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent, .media {
  display: table;
}

.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: #007d9a;
  letter-spacing: -1px;
}
h1 small, h2 small, h3 small, h4 small {
  color: #dddddd;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
  letter-spacing: 0;
  font-weight: bold;
}

p {
  margin: 1em 0;
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-success {
  color: #468847;
}

.text-error {
  color: #b94a48;
}

.muted {
  color: #dddddd;
}

.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent, .media {
  display: table;
}

.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.15em;
}
a.btn {
  font-size: 14px;
  line-height: 36px;
  letter-spacing: 0;
  text-transform: none;
}
a.btn:hover {
  text-decoration: none;
}
a:link {
  color: #42b8dd;
}
a:visited {
  color: #208fb2;
}
a:active {
  color: #208fb2;
}
a:hover, a:focus {
  color: #208fb2;
  text-decoration: underline;
}
a:active, a:hover {
  outline: none;
}
a img {
  border: none;
  vertical-align: middle;
}

.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent, .media {
  display: table;
}

.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

input, button, .btn, select, textarea {
  margin-top: 2px;
  vertical-align: middle;
}
input textarea, button textarea, .btn textarea, select textarea, textarea textarea {
  vertical-align: baseline;
}
input.input-block-level, button.input-block-level, .btn.input-block-level, select.input-block-level, textarea.input-block-level {
  width: 100%;
}
input.input-small, button.input-small, .btn.input-small, select.input-small, textarea.input-small {
  width: 90px;
}
input.input-large, button.input-large, .btn.input-large, select.input-large, textarea.input-large {
  width: 300px;
}
input.btn-block, button.btn-block, .btn.btn-block, select.btn-block, textarea.btn-block {
  width: 100%;
  display: block;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea {
  -webkit-transition: 0.3s linear border;
  -moz-transition: 0.3s linear border;
  -o-transition: 0.3s linear border;
  transition: 0.3s linear border;
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8em;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-font-smoothing: antialiased;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=url]:focus, input[type=date]:focus, input[type=month]:focus, input[type=time]:focus, input[type=datetime]:focus, input[type=datetime-local]:focus, input[type=week]:focus, input[type=number]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=color]:focus, select:focus, textarea:focus {
  outline: 0;
  border-color: #007d9a;
}

button, .btn {
  -webkit-transition: 0.1s linear -webkit-box-shadow;
  -moz-transition: 0.1s linear -webkit-box-shadow;
  -o-transition: 0.1s linear -webkit-box-shadow;
  transition: 0.1s linear -webkit-box-shadow;
  line-height: 36px;
  height: 36px;
  max-height: 36px;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  padding: 0 1.5em;
  color: #fff !important;
  border: 1px solid #999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  background: #42b8dd;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}
button.btn-large, .btn.btn-large {
  height: 46px;
  padding: 0 2.0em;
}

.form-signin, .form-small {
  width: 300px;
  margin: 0 auto;
}

.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent, .media {
  display: table;
}

.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table tr td, table tr th {
  vertical-align: top;
  background: #fff;
  padding: 0.8em 1em;
  text-align: left;
  border-width: 0 0 1px;
  border-bottom: 1px solid #f3f3f3;
}
table.table-hover tr:hover td {
  background: #f3f3f3;
}

.font, body, input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=month], input[type=time], input[type=datetime], input[type=datetime-local], input[type=week], input[type=number], input[type=search], input[type=tel], input[type=color], select, textarea, button, .btn {
  font-family: "Droid Sans", arial;
  font-size: 14px;
  color: #555555;
  line-height: 20px;
}

.clearfix, .row:after, .media:after {
  content: "";
  clear: both;
  line-height: 0;
}

.vertical-align-parent, .media {
  display: table;
}

.vertical-align-child, .media .media-body {
  display: table-cell;
  vertical-align: middle;
}

.nav-pills {
  list-style: none;
}
.nav-pills li {
  display: inline-block;
  margin: 0 2px;
}
.nav-pills li a {
  padding: 0 1em;
}

.nav-tabs li {
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
  margin: 0 2px;
}
.nav-tabs li a {
  padding: 1em;
  max-width: 2em;
  word-wrap: break-word;
}
.nav-tabs li a:hover {
  text-decoration: none;
}
.nav-tabs li:hover {
  background: #efefef;
}
.nav-tabs li.active {
  background: #efefef;
}
.nav-tabs li.active a {
  color: #007d9a;
}

.tab-content .tab-pane {
  display: none;
  padding: 0;
}
.tab-content .tab-pane.active {
  display: block;
}
