@import "mixins";

$font-family: 'Droid Sans', arial;
$normal: 14px;
$color: #555;
$primary: rgb(66, 184, 221); // light blue
// $secondary: #129FEA;
$secondary: #007d9a;
$primary-focus: $secondary;
$super-light-grey: #f3f3f3;
$light-grey: #efefef;
$medium-grey: #ddd;

$success-background: #dff0d8;
$success-border: #d6e9c6;
$success-color: #468847;
$error-background: #f2dede;
$error-border: #eed3d7;
$error-color: #b94a48;

$side-content-width: 240px;
$main-content-width: 700px;
$input-small-width: 90px;
$input-large-width: 300px;
$form-small-width: 300px;

$button-height: 36px;
$button-height-large: 46px;

.font {
  font-family: $font-family;
  font-size: $normal;
  color: $color;
  line-height: 20px;
}

.clearfix {
	content: "";
	clear: both;
	line-height: 0;
}

.vertical-align-parent {
  display: table;
}

.vertical-align-child {
  display: table-cell;
  vertical-align: middle;
}