@import "base";

header {
  height: $header-height;
  width: 100%;
  padding-bottom: 0;
  position: fixed;
  z-index: $header-layer;
  top: 0;
  background: lighten( $primary, 10% );
  border-bottom: thick solid $super-light-grey;
  .nav-container {
    padding: 0;
    .title {
      a {
        font-family: $lobster;
        text-transform: none;
        letter-spacing: 0;
        color: $super-light-grey;
      }
      margin: 0;
      display: inline-block;
      line-height: $header-height;
    }
  }
}

#nav {
  list-style: none;
  display: table;
  li {
    display: inline-block;
    line-height: $header-height;
    margin: 0 2px;
    a {
      @include transition( all 300ms ease );
      color: $light-grey;
      padding: 0 1em;
      &:hover {
        color: #fff;
      }
    }
  }
}

.nav-tabs {
  margin-bottom: 10px;
  li {
    @include transition( all 300ms ease );
    @include border-radius( 4px );
    display: inline-block;
    cursor: pointer;
    margin: 0 2px;
    a {
      padding: 1em;
      max-width: 2em;
      word-wrap: break-word;
      &:hover { text-decoration: none; }
    }
    &:hover {
      background: $light-grey;
    }
    &.active {
      background: $light-grey;
      a { color: $secondary; }
    }
  }
}

.tab-content {
  .tab-pane {
    display: none;
    padding: 0;
    &.active {
      display: block;
    }
  }
}