@import "base";

html, body {
  height: 100%;
}

body {
  margin: 0; 
  padding: 0;
  font-size: 12px;
  line-height: 1.5;
  @extend .font;
}

* { 
  @include box-sizing( border-box );
}

ol, ul {
  padding-left: 0;
  margin: 0;
}

#main {
  height: 100%;
}

.container {
  width: 1000px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  margin: 0 auto -4em;
  line-height: 1.8em;
}

article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

footer, .push {
  clear: both;
  height: 4em;
}

// custom nav-tabs

.nav-tabs {
  li {
    @include transition( all 300ms linear );
    display: inline-block;
    padding: 1em 2em;
    border: thin solid $light-grey;
    cursor: pointer;
    &:hover {
      background: $light-grey;
      a {
        color: $secondary;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.active {
      a {
        color: $secondary;
      }
    }
  }
}

.tab-content {
  .tab-pane {
    display: none;
    padding: 0 1em 1em;
    &.active {
      display: block;
    }
  }
}