@import "base";

table {
  border-collapse: collapse;
  tr {
    td, th {
      @include transition( all 300ms linear );
      background: #fff;
      padding: 0.8em 1em;
      text-align: left;
      border-width: 0 0 1px;
      border-bottom: 1px solid #cbcbcb;
    }
    &:hover {
      td {
        background: $light-grey;
      }
    }
  }

}
