@import "base";

table {
  border-collapse: collapse;
  width: 100%;
  tr {
    td, th {
      @include transition( all 300ms linear );
      background: #fff;
      padding: 0.8em 1em;
      text-align: left;
      border-width: 0 0 1px;
      border-bottom: 1px solid #cbcbcb;
    }
  }
  &.table-hover {
    tr {
      &:hover {
        td {
          background: $light-grey;
        }
      }
    }
  }
}
