@import "base";

h1, h2, h3, h4 {
  margin: 1em 0 .5em;
  line-height: 1.25;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  color: $secondary;
  letter-spacing: -1px;
  small {
    color: $medium-grey;
  }
}

h1, h2, h3 {
  @extend .font-secondary;
  color: $dark-grey;
  margin: 0;
  line-height: 0.8em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin: 1em 0 0;
  color: #999;
}

h4 {
  font-size: 1em;
  letter-spacing: 0;
  font-weight: bold;
}
p {
  margin: 1em 0;
  word-wrap: break-word;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-success {
  color: $success-color;
}
.text-error {
  color: $error-color;
}

.muted {
  color: $medium-grey;
}